*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: ghostwhite;
}
body{
    background-color: #000517;
}
body, input, button{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}
